{% extends 'base.html.twig' %}



{% block body %}
    <div class="container p-5">
        <div class="row p-5">
            <div class="col-12 border p-5">
                <h4>Sélectionner PDF (vous pouvez en sélectionner plusieurs)</h4>
                <form action="{{ path('category') }}" method="POST">
                    <div class="form-row">
                        <div class="col-12">
                            {% for key,pdf in pdflist %}
                                <input type="checkbox" id="{{ key }}" name="pdfs[]" value="{{ key }}"> <label for="{{ key }}">{{ pdf }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary rounded-0">Suivant</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
