{% extends 'base.html.twig' %}



{% block body %}
    <div class="container p-5">
        <div class="row ">
            <div class="col-12 border p-5">
                <h4 class="text-center">Sélectionner PDF <span class="text-muted">(vous pouvez en sélectionner plusieurs)</span>
                </h4>
                <hr>
                <form action="{{ path('category') }}" method="POST">
                    <div class="form-row">

                        <div class="col-6">
                            <h4 class="text-center mb-3">Personne physique</h4>
                            <ul class="list-unstyled">
                            {% for key,pdf in pdflistphy %}
                                <li>
                                    <label style="word-wrap:break-word"
                                            for="{{ key }}">
                                        <input type="checkbox" id="{{ key }}" name="pdfs[]" value="{{ key }}"> {{ pdf }}</label></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col-6">
                            <h4 class="text-center mb-3">Personne morale</h4>
                            <ul class="list-unstyled">
                            {% for key,pdf in pdflistmor %}
                                <li>
                                     <label style="word-wrap:break-word"
                                            for="{{ key }}"><input type="checkbox" id="{{ key }}" name="pdfs[]" value="{{ key }}">
                                         {{ pdf }}</label></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary rounded-0">Suivant</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
