<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L&A Finance{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row border-bottom">
            <div class="container">
                <div class="row align-items-center p-2">
                    <div class="col-6">
                        <img src="{{asset('img/logo.png')}}" alt="" width="85px">
                    </div>
                    <div class="col-6 text-right">
                       {% if app.user %}
                        <a href="{{ path('index') }}" class="btn btn-secondary rounded-0">Générer PDF</a>
                        <a href="{{ path('app_logout') }}" class="btn btn-secondary rounded-0">Déconnexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            {% block body %}{% endblock %}
    <div class="fixed-bottom bg-dark text-center p-3 text-white">
        © 2020 Copyright <a href="https://la-finance.fr">L&A Finance</a>
    </div>
        <script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
